/*-----------------------------------General Styling---------------------------------------------*/
body {margin: 0px; padding: 0px; font-family: roboto,sans-serif;overflow:scroll;white-space: nowrap;}


/*------------------------------------Top-Navigation-----------------------------------------*/

.top-navigation {position: fixed; background-color: white; width: 100%; height: 55px; left: 0px; top: 0px;z-index: 50;}

.logo-container > img{width: 66px;}

.logo-container {margin: auto;width: 66px;margin-top: 6px;}

.nav-button {position: fixed;right: 18px;top: 18px;}


/*------------------------------------Bottom-Navigation-------------------------------------------*/

.bottom-nav-button > input{
    display: none;
}

label>img {transition: 0.2s ease;;width:70px;object-fit: cover;height: 42px;margin-top: 5px;border-radius: 6px;margin-left: -8px;filter: saturate(0);}

.start {margin-left: 8px;}

.bottom-nav-button > input:checked+label>img {background-color: #E4E4E4;filter: saturate(1);}

.bottom-nav-button {display: inline-block;}

.bottom-nav-wrapper {margin: auto;width: 355px  ;}

.bottom-navigation {position: fixed; bottom: 0px; left: 0px; width: 100%;background-color:white}

@media only screen and (max-width: 359px) {
    label > img {width: 65px;;}
    .bottom-nav-wrapper {width: 310px;}
  }

/*---------------------------------------Stories------------------------------------------*/

.story-wrapper {width: 121px;height: 188px;background-size: cover;display: inline-block;margin-left: 12px;}

.stories-container {margin-top: 56px;overflow: scroll;white-space: nowrap;}

.story-wrapper > p {height: 53px;text-overflow: ellipsis; overflow: hidden;margin:0px;white-space: normal;font-size: 14px;width: 105px;margin-left: 5px;margin-top: 5px;color: white; z-index: 15;}

.story-wrapper > h4 {font-size: 14px;margin: 0px;margin-left: 5px;width: 105px;color: white;z-index: 15;}

.story-icon {margin-left: -90px; border-radius: 50px;z-index: 15;}

.story-image {width: 121px; height: 188px; object-fit: cover;margin-bottom: -100px;border-radius: 10px;filter: brightness(0.8);z-index: -1;position: relative; ;}

#items {transition: 0.2s ease;}



/*------------------------------------Group-Buttons--------------------------------------------*/

.group-btn {width:33%;margin-left: -5px;height: 48px;background-color: white;border: solid 1px lightgray;}

.group-btn:focus {outline: none;;}

.left-group {margin-left: 3.3px;border-radius: 10px 0px 0px 10px;}

.right-group {border-radius: 0px 10px 10px 0px;}

.group-wrapper {margin: auto; width: 95%;margin-top: 10px;}

.grouped-buttons {position: sticky; top: 55px;width: 100%;z-index: 150;}

/*------------------------------------Content Feed-------------------------------------------*/

.content-card {margin: auto; width: 90%;;margin-top: 15px;border-bottom: solid 1px lightgray;padding-bottom: 15px;}

.right-content {width: 80%;margin-left: 65px;}

.right-content > a > img {width: 100%;border-radius: 10px;margin-top: 10px;height: 160px; object-fit: cover;border: solid 1px lightgray;}

.right-content > a {pointer-events: none;}

.right-content > p {margin: 0px;margin-top: 5px;font-size: 14px;}

.right-content > h3 {margin: 0px;font-size: 15px;}

.content-badge {float: left;width: 55px;border: solid 1px lightgray;border-radius: 50px;margin-left: -5px;}

.right-content > iframe {width: 100% !important;height: 150px;border-radius: 10px;margin-top: 10px;}




