/*-----------------------------------General Styling---------------------------------------------*/
body {margin: 0px; padding: 0px; font-family: roboto,sans-serif;background-color: white}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*------------------------------------Top-Navigation-----------------------------------------*/

.top-navigation {position: fixed; width: 100%; height: 55px; left: 0px; top: 0px;z-index: 160; background-color: white;;}

.logo-container > img{width: 66px;}

.logo-container {margin: auto;width: 66px;margin-top: 6px;}

.nav-button {position: fixed;right: 18px;top: 18px;}

.navigation-cover {position: fixed; background-color: white; width: 100%; height: 100vh;z-index: -14 }

/*------------------------------------Popup Image Container----------------------------*/

#popupImageWrapper {position: fixed; top:0px; width:100%;height: 100%; background-color: rgba(0, 0, 0, 0.671);z-index: 700;left: 0px;display: none;}

#popupImageContainer > a > img {width: 100%;transform: rotate(90deg);width: 100vh;margin-top: 162px;position: fixed;top: 0px;margin-left: -25vh;}

#popupImageContainer > a {pointer-events: none;;}

.image-close {position: fixed; left: 50px; top: 50px;;}
/*------------------------------------Bottom-Navigation-------------------------------------------*/

.bottom-nav-button > input{
    display: none;
}

label>img {transition: 0.2s ease;;width:70px;object-fit: cover;height: 42px;margin-left: -8px;filter: saturate(0);padding-bottom:5px;padding-top: 5px;margin-bottom: -5px;border: solid 2px transparent;transition: 0.1s linear;;}

label {}

.start {margin-left: 8px;}

label>img:active {}

.bottom-nav-button > input:checked+label>img {filter: saturate(1);}

.bottom-nav-button {display: inline-block;}

.bottom-nav-button:focus {}

.bottom-nav-wrapper {margin: auto;width: 356px  ;}

.bottom-navigation {position: fixed; bottom: 0px; left: 0px; width: 100%;z-index: 200;border-top: solid 1px lightgray;background-color: white;;}

@media only screen and (max-width: 359px) {
    label > img {width: 65px;;}
    .bottom-nav-wrapper {width: 310px;}
  }

  .image-container > a > img:hover {position: fixed; left: 0px; top: 0px;width: 100%; height: 100vh;}

/*---------------------------------------Stories------------------------------------------*/

.story-wrapper {width: 121px;height: 188px;background-size: cover;display: inline-block;margin-left: 12px;transition: 0.2s ease;;}

.story-wrapper:hover {width: 100%;height: 100vh;position: fixed;left: 0px;top: 0px;margin-left: -0.5%;z-index: 500;}

.stories-container {margin-top: 56px;overflow: scroll;white-space: nowrap;}

.story-wrapper > p {height: 50px;text-overflow: ellipsis; overflow: hidden;margin:0px;white-space: normal;font-size: 14px;width: 100%;margin-left: 5px;margin-top: 5px;color: white; z-index: 15;}

.story-wrapper > h4 {font-size: 14px;margin: 0px;margin-left: 5px;width: 105px;color: white;z-index: 15;}

.story-icon {margin-left: -90px; border-radius: 50px;z-index: 15;border-style: dashed;padding: 2px;border-color: #012395;border-width: 2.5px;; }

.story-image {width: 100%;height: 100%;; object-fit: cover;margin-bottom: -100px;border-radius: 10px;filter: brightness(0.8);z-index: -1;position: relative; ;}

#items {transition: 0.2s ease;}

#story-frame {position:fixed; left:0px;z-index: -50;opacity:0;transition: 0.2s linear;height: 40px;top: -159px}



#story-frame > iframe {top: 0px;height: 100%;width: 100%}

#story-frame:target {z-index: 600;height: 100%;opacity: 1;top: 0px;}

.story-close {position: fixed; bottom: 50px; left: 0px;z-index: 150}

.story-close > div > i {width: 50px; height: 50px; background-color: white;;border-radius: 50px;background-color: rgba(0, 0, 0, 0.445);}
.story-loader-items {padding-bottom:34px; padding-top: 34px;}
.story-loader-items > div {margin: auto;width: 100px;margin-top: 80px;}
.story-loader-items> div > img {width: 100%;}



/*------------------------------------Opened Stories------------------------------------------*/

.story-opened-image > img { width: 100%; top: 0px;height: 100vh;object-fit: cover;}

.story-opened-image {height: 100vh;}



.story-text {background-color: rgba(0, 0, 0, 0.445);position: absolute;;}

.story-text > .content-card > .right-content {color: white;;}

.story-text > .content-card {border: none;}

.story-grid > a > button {width: 100%; background-color: transparent;height: 100vh;margin-bottom: -100%;position: relative; z-index: 50;margin-top: -250%;border: none;}

.end-story {position: relative; z-index: 200;}

.end-story > a > button {width: 100%; background-color: transparent;height: 100vh;margin-top: -100vh;border: none;;}

.end-story > a > button:focus {outline: none;;}

.story-tap-indicator {position: absolute; top: 0px; width: 100%; height: 100%;filter: saturate(0);}

.tap-wrapper > img {width: 100px;border-radius: 50px;opacity: 0.6;}

.tap-wrapper {margin: auto; width: 100px;margin-top: 40vh;filter: brightness(1.5);}

/*------------------------------------Group-Buttons--------------------------------------------*/

.group-btn {width:33%;margin-left: -5px;height: 48px;background-color: white;border: solid 1px lightgray;font-size: 14px;}

.group-btn:focus {outline: none;}

.group-btn:hover {background-color: lightgray;}

.left-group {margin-left: 3.3px;border-radius: 10px 0px 0px 10px;}

.right-group {border-radius: 0px 10px 10px 0px;}

.group-wrapper {margin: auto; width: 95%;margin-top: 10px;}

.grouped-buttons {position: sticky; top: 55px;width: 100%;z-index: 50;}



/*------------------------------------Content Feed-------------------------------------------*/

.content-card {margin: auto; width: 90%;;padding-top:15px;border-bottom: solid 1px lightgray;padding-bottom: 15px;transform: rotate(180deg);}

.content-feed {margin-bottom: 55px;transform: rotate(180deg);}

.right-content {width: 80%;margin-left: 60px;}

.right-content > div > a > img {width: 100%;border-radius: 10px;margin-top: 10px;height: object-fit: cover;border: solid 1px lightgray;}

.right-content > div > a > img:focus {position: fixed; left: 0px top:0px;width:100%;z-index:500;;}

.right-content > div > iframe {width: 100%;margin-top: 10px;height: 160px; object-fit: cover;border: solid 1px lightgray;}

.right-content > div > a {pointer-events: none;}

.right-content > p {margin: 0px;margin-top: 5px;font-size: 14px;white-space: pre-wrap;}

.right-content > h3 {margin: 0px;font-size: 15px;}

.content-badge {float: left;width: 50px;border: solid 1px lightgray;border-radius: 50px;}

.right-content > iframe {width: 100% !important;height: 150px;border-radius: 10px;margin-top: 10px;}

.ttoplay {border:solid 1px lightgray;margin-top: 10px; border-radius: 2px;;}

.content-tap-indicator {transition: 0.1s ease;;}

.content-tap-indicator:active {opacity: 0;}

.content-tap-indicator > i  {float: left;}

.content-tap-indicator > p {font-size: 13px;padding-top: 5px;}

.home-overflow {overflow: scroll; white-space: nowrap; height: 100vh;}

/*----------------------------------Pop Up Frame-----------------------------------------*/

.inject-frame {position: fixed; top: 0px; left: 0px; width: 100%; height:95vh; background-color: white;border: none;z-index: 100;;}

#inject-frame {padding-top: 55px;}

#frame {display: none;}

.iframe-loader {position: fixed; left: 0px;top: 0px; width:
  100%;height: 100vh;background-color: white;z-index: 190;}

  .iframe-loader > div{margin: auto; width: 100px;margin-top: 35vh;}

  .iframe-loader > div > img {width: 100%;}

  .page-indicator {width: 50px; height: 50px; background-color: #012395;position: fixed; bottom: 0px;right: 100px;left: 0px;;}


/*---------------------------------Media-------------------------------------*/

.live-frame {height: 210px;border: none;}

#playback {width: 100%;transition: 0.15s ease;}

#playback.scrolled {width: 150px;position: fixed;height: 80px;top: 0px; left: 0px;;z-index: 151;}

#playbackindicator {position: sticky;top: 0px; z-index: 150;background-color: white;}

#playbacktext {transition: 0.2s ease;}

#playbacktext.active {margin-left: 150px;width: 50%;}

/*-------------------------------New Stuff-------------------------------------*/

.new-container > details > summary {width: 100%;}

.new-view {margin: auto; width: 90%;}

.new-container > details {margin-bottom: -45px;}

details > summary:focus {outline: none;}

.new-container {margin: auto;width: 94%;margin-top: 12px;}

.new-container > details {margin-top: 60px;border: solid 1px lightgray;border-radius: 10px;}

.new-text-container {float: left;}

summary{list-style-type: none;}

details:focus {outline: none;}

.new-view > div {}

.new-view > div > p {white-space: pre-wrap;margin-top: 5px;font-size: 14px;}

.new-view > div > h3 {white-space: pre-wrap;margin-bottom: -3px;font-size: 15px;}

details > summary {list-style-type: none;}

details summary::-webkit-details-marker {
  background: url(/Assets/open.svg) ;
  background-size: contain;
  background-repeat: no-repeat;;
  color: transparent;
  width: 65px;
  height: 30px;
  float: right;
  margin-top: 5px;
  margin-right: 15px;
}
details[open] summary::-webkit-details-marker {
  background: url(/Assets/close.svg) ;background-size: cover;
  color: transparent;
  width: 64px;
  height: 30px;
  float: right;
  margin-top: 5px;
  margin-right: 15px;
}


/*--------------------------------Pull Up Frame----------------------------------*/

#pullup-frame {display: none;position: fixed; top: 0px;z-index: 700;width: 100%; height: 100vh;}

#pullup-frame:target {display: block;}

#pullup-inject {position: fixed; top: 55px; left: 0px; width: 100%; height:100vh; background-color: white;border: none;z-index: 800;border: none;}

.popup-close {width: 100%; background-color: white;height: 55px;color: black;}

.popup-close > i {float: right;margin-top: 15px;;margin-right: 15px;}

.popup-close > h4 {float: left;margin-left: 15px;margin-top: 18px;}

.mini-button {border: solid 1px lightgray; border-radius: 50px; background-color: white;padding: 5px;margin-top: 5px;}

.mini-button:focus {outline: none;}

.mini-button:hover {background-color: lightgray;}

.footer-badge > div > p > strong {padding-right: 3px;}

.footer-badge > div {margin: auto; width: 75px;}

.footer-badge {position: fixed; bottom: 60px;width: 100%; ;}

/*--------------------------Senior Home---------------------------------------*/

.popup-details > embed {width: 100%; height: 100vh;}

.popup-details:focus {outline: none;;}

.shome {margin-top: -15px;}

.button-overflow {overflow: scroll;white-space: nowrap;}

.spacer-wide {width: 12px;display: inline-block;}


/*------------------------------------------Page INfo-------------------------------*/

.page-information {margin: auto; width: 90%;margin-top: 35vh;}

.page-information > h3 {text-align: center;;}

.page-information > p {margin-top: -10px;text-align: center;}

.page-information-button {margin: auto; width: 110px;margin-top: -5px;}

.page-information-button > button {background-color: white;border: solid 1px lightgray; padding-top: 7px; padding-bottom: 7px;border-radius: 5px;}

/*--------------------------------------Meal Menu------------------------------------*/

.menu-viewer > #lunch {margin: auto; width: 100%;padding-top: 31px;display: none;}

.menu-viewer > #lunch:target {display: block;}

#lunch > img {width: 100%;;}

.menu-viewer > #breakfast {margin: auto; width: 100%;padding-top: 31px;display: none;}

.menu-viewer > #breakfast:target {display: block;}

#breakfast > img {width: 100%;;}
