/*-----------------------------------General Styling---------------------------------------------*/
body {margin: 0px; padding: 0px; font-family: roboto,sans-serif;;}


/*------------------------------------Top-Navigation-----------------------------------------*/

.top-navigation {position: fixed; background-color: green; width: 100%; height: 100%; left: 0px; top: 0px;;}

.logo-container > img{width: 66px;}

.logo-container {margin: auto;width: 66px;margin-top: 6px;}


/*------------------------------------Bottom-Navigation-------------------------------------------*/

.bottom-nav-button > input{
    display: none;
}

label>img {transition: 0.2s ease;;width:70px;object-fit: cover;height: 42px;margin-top: 5px;border-radius: 6px;margin-left: -8px;filter: saturate(0);}

.start {margin-left: 8px;}

.bottom-nav-button > input:checked+label>img {background-color: #E4E4E4;filter: saturate(1);}

.bottom-nav-button {display: inline-block;}

.bottom-nav-wrapper {margin: auto;width: 355px  ;}

.bottom-navigation {position: fixed; bottom: 0px; left: 0px; width: 100%;background-color:white}

@media only screen and (max-width: 359px) {
    label > img {width: 65px;;}
    .bottom-nav-wrapper {width: 310px;}
  }