/*-----------------------------------General Styling---------------------------------------------*/
body {margin: 0px; padding: 0px; font-family: roboto,sans-serif;background-color: white}


/*------------------------------------Top-Navigation-----------------------------------------*/

.top-navigation {position: fixed; background-color: white; width: 100%; height: 55px; left: 0px; top: 0px;z-index: 160;}

.logo-container > img{width: 66px;}

.logo-container {margin: auto;width: 66px;margin-top: 6px;}

.nav-button {position: fixed;right: 18px;top: 18px;}

.navigation-cover {position: fixed; background-color: white; width: 100%; height: 100vh;z-index: -14 }


/*------------------------------------Bottom-Navigation-------------------------------------------*/

.bottom-nav-button > input{
    display: none;
}

label>img {transition: 0.2s ease;;width:70px;object-fit: cover;height: 42px;margin-top: 5px;border-radius: 6px;margin-left: -8px;filter: saturate(0);}

.start {margin-left: 8px;}

.bottom-nav-button > input:checked+label>img {background-color: #E4E4E4;filter: saturate(1);}

.bottom-nav-button {display: inline-block;}

.bottom-nav-wrapper {margin: auto;width: 355px  ;}

.bottom-navigation {position: fixed; bottom: 0px; left: 0px; width: 100%;background-color:white;z-index: 200;}

@media only screen and (max-width: 359px) {
    label > img {width: 65px;;}
    .bottom-nav-wrapper {width: 310px;}
  }

/*---------------------------------------Stories------------------------------------------*/

.story-wrapper {width: 121px;height: 188px;background-size: cover;display: inline-block;margin-left: 12px;}

.stories-container {margin-top: 56px;overflow: scroll;white-space: nowrap;}

.story-wrapper > p {height: 53px;text-overflow: ellipsis; overflow: hidden;margin:0px;white-space: normal;font-size: 14px;width: 105px;margin-left: 5px;margin-top: 5px;color: white; z-index: 15;}

.story-wrapper > h4 {font-size: 14px;margin: 0px;margin-left: 5px;width: 105px;color: white;z-index: 15;}

.story-icon {margin-left: -90px; border-radius: 50px;z-index: 15;border-style: dashed;padding: 2px;border-color: #012395;border-width: 2.5px;; }

.story-image {width: 121px; height: 188px; object-fit: cover;margin-bottom: -100px;border-radius: 10px;filter: brightness(0.8);z-index: -1;position: relative; ;}

#items {transition: 0.2s ease;}

#story-frame {position:fixed; left:0px;z-index: -50;opacity:0;transition: 0.2s linear;height: 40px;top: -159px}



#story-frame > iframe {top: 0px;height: 100%;width: 100%}

#story-frame:target {z-index: 600;height: 100%;opacity: 1;top: 0px;}

.story-close {position: fixed; bottom: 50px; left: 0px;z-index: 150}

.story-close > div > i {width: 50px; height: 50px; background-color: white;;border-radius: 50px;background-color: rgba(0, 0, 0, 0.445);}

/*------------------------------------Opened Stories------------------------------------------*/

.story-opened-image > img { width: 100%; top: 0px;height: 100vh;object-fit: cover;}

.story-opened-image {height: 100vh;}

.story-text {background-color: rgba(0, 0, 0, 0.445);position: absolute;;}

.story-text > .content-card > .right-content {color: white;;}

.story-text > .content-card {border: none;}

.story-grid > a > button {width: 100%; background-color: transparent;height: 100vh;margin-bottom: -100%;position: relative; z-index: 50;margin-top: -250%;border: none;}

.end-story > a > button {width: 100%; background-color: transparent;height: 100vh;margin-top: -100vh;border: none;;}

/*------------------------------------Group-Buttons--------------------------------------------*/

.group-btn {width:33%;margin-left: -5px;height: 48px;background-color: white;border: solid 1px lightgray;}

.group-btn:focus {outline: none;;}

.left-group {margin-left: 3.3px;border-radius: 10px 0px 0px 10px;}

.right-group {border-radius: 0px 10px 10px 0px;}

.group-wrapper {margin: auto; width: 95%;margin-top: 10px;}

.grouped-buttons {position: sticky; top: 55px;width: 100%;z-index: 50;}

/*------------------------------------Content Feed-------------------------------------------*/

.content-card {margin: auto; width: 90%;;margin-top: 15px;border-bottom: solid 1px lightgray;padding-bottom: 15px;}

.right-content {width: 80%;margin-left: 60px;}

.right-content > a > img {width: 100%;border-radius: 10px;margin-top: 10px;height: 160px; object-fit: cover;border: solid 1px lightgray;}

.right-content > a {pointer-events: none;}

.right-content > p {margin: 0px;margin-top: 5px;font-size: 14px;}

.right-content > h3 {margin: 0px;font-size: 15px;}

.content-badge {float: left;width: 50px;border: solid 1px lightgray;border-radius: 50px;margin-left: -5px;}

.right-content > iframe {width: 100% !important;height: 150px;border-radius: 10px;margin-top: 10px;}

/*----------------------------------Pop Up Frame-----------------------------------------*/

.inject-frame {position: fixed; top: 55px; left: 0px; width: 100%; height:89vh; background-color: white;border: none;z-index: 100;}

#frame {display: none;}

.iframe-loader {position: fixed; left: 0px;top: 0px; width:
  100%;height: 100vh;background-color: white;z-index: 190;}

  .iframe-loader > div{margin: auto; width: 100px;margin-top: 35vh;}

  .iframe-loader > div > img {width: 100%;}

/*---------------------------------Live Frame-------------------------------------*/

.live-frame {width: 100%;height: 210px;border: none;}

/*--------------------------------Pull Up Frame----------------------------------*/

#pullup-frame {display: none;position: fixed; top: 0px;z-index: 700;width: 100%; height: 100vh;}

#pullup-frame:target {display: block;}

#pullup-inject {position: fixed; top: 55px; left: 0px; width: 100%; height:100vh; background-color: white;border: none;z-index: 800;border: none;}

.popup-close {width: 100%; background-color: white;height: 55px;color: black;}

.popup-close > i {float: left;margin-top: 15px;;margin-left: 15px;}

.popup-close > h4 {float: left;margin-left: 15px;margin-top: 18px;}

.mini-button {border: solid 1px lightgray; border-radius: 50px; background-color: white;padding: 5px;margin-top: 5px;}



